bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
deploy/cups-dev/in/
deploy/cups-dev/out/
**/keys/
**/spool/
deploy/certs/*
!deploy/certs/make-certs.sh
deploy/secrets/*
!deploy/secrets/make-secrets.sh